/* FONTS */
@font-face {
  font-family: 'the_wild_breath_of_zelda';
  src: url('fonts/the_wild_breath_of_zelda.woff2') format('woff2'),
    url('fonts/the_wild_breath_of_zelda.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fot-rodin_pro';
  src: url('fonts/fot-rodinprodb.woff2') format('woff2'),
    url('fonts/fot-rodinprodb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --golden: #ECD5AC;
  --github-corner-bg: #0008;
}

/* BASE */
[v-cloak] {
  display: none !important;
}

body {
  background: #333;
  background-attachment: fixed;
  background-image: url('bg.jpg');
  background-size: cover;
  font-family: 'fot-rodin_pro', sans-serif;
  color: var(--golden);
}

h1 {
  font-size: 60px;
  text-align: center;
  mix-blend-mode: hard-light;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h1,
h2,
h3 {
  font-family: 'the_wild_breath_of_zelda', 'fot-rodin_pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  vertical-align: middle;
}

a,
a:visited {
  color: #CCF;
}

a:hover,
a:focus,
a:active {
  color: #EEF;
}

input[type="text"],
input[type="number"] {
  background: #6664;
  border: 0px;
  border-radius: 4px;
  margin: 1px 0px;
  padding: 4px;
  color: var(--golden);
}

input[type="number"][dir="rtl"] {
  padding-right: 6px;
}

select {
  background: #0005;
  border: 0px;
  border-radius: 4px;
  margin: 0px 8px;
  padding: 5px;
  color: #FFF;
}

/* LAYOUT */
#app {
  display: flex;
  justify-content: space-evenly;
}

aside {
  width: 300px;
  margin-right: 8px;
  padding: 10px;
}

main {
  max-width: 1000px;
}

label {
  display: inline-block;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

/* NUMBER BUTTON COMPONENT */
.number-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.number-button-up,
.number-button-down {
  background: #6664;
  border: 0px;
  border-radius: 4px;
  margin: 1px 0px;
  padding: 6px 0px 7px 0px;
  color: var(--golden);
  font-size: 9px;
}

.number-button-up {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 3px;
}

.number-button-down {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 3px;
}

.number-button-input[type="number"] {
  width: 22px;
  border-radius: 0px;
  text-align: center;
}

.number-button-up:hover,
.number-button-down:hover,
.number-button-input[type="number"]:hover {
  background: #6668;
}

.number-button-input {
  -moz-appearance: textfield;
}

.number-button-input::-webkit-outer-spin-button,
.number-button-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* COMPONENT */
.card-border {
  display: inline-block;
  border: 3px solid #0008;
  border-radius: 4px;
  margin: 3px;
  padding: 2px;
  vertical-align: top;
}

.card {
  width: 300px;
}

.spoiler-note {
  height: 180vh;
}

.card,
.spoiler-note,
.authors-note {
  background: #0008;
  padding: 8px;
}

.spoiler-header {
  font-size: 60px;
  text-align: center;
  mix-blend-mode: hard-light;
}

.spoiler-pre-header {
  font-size: 30px;
}

.spoiler-post-header {
  font-family: 'fot-rodin_pro', sans-serif;
  font-size: 15px;
}

.stars {
  display: inline-block;
  font-size: 0px;
}

.stars button {
  background: transparent;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  color: currentColor;
  cursor: pointer;
}

.pill,
.buy-button {
  display: inline-block;
  background: var(--golden);
  border-radius: 30px;
  padding: 2px 5px;
  color: #333;
}

.image-container {
  float: right;
  width: 70px;
  height: 70px;
}

.armor {
  max-height: 70px;
}

.needed {
  min-width: 25px;
  text-align: center;
}

.buy-button {
  border: 0px;
  text-align: center;
  cursor: pointer;
}

.buy-button[disabled] {
  cursor: default;
  opacity: 0.25;
}

.map-icon {
  height: 17.5px;
  vertical-align: sub;
}

.checkmark {
  height: 17.5px;
  vertical-align: text-bottom;
}

/* UTILITY */
.blur {
  filter: blur(15px);
}

.pointer {
  cursor: pointer;
}

.inventory-input {
  width: 50px;
  text-align: right;
}

.center {
  text-align: center;
}

.right {
  text-align: right
}

.mt-lg {
  margin-top: 60px;
}

.small,
.small:visited,
.small:hover,
.small:focus,
.small:active {
  color: var(--golden);
  font-size: 14px;
  text-decoration: none;
  vertical-align: super;
}

.no-underline {
  text-decoration: none;
}

/* VUE TRANSITIONS */
.list-enter-active,
.list-leave-active {
  transition: 0.5s ease all;
}

.list-enter-from,
.list-leave-to {
  opacity: 0.0;
  transform: translateX(30px);
}

/* ARMOR SPRITESHEET */
.armors {
  width: 70px;
  height: 70px;
  background-image: url('armors.png');
  background-size: auto 70px;
  background-position-y: -1px;
  transition: 3s ease all;
}

.amberearrings {
  background-position: -140px 0;
}

.ancientherosaspect {
  background-position: -210px 0;
}

.archaiclegwear {
  background-position: -280px 0;
}

.archaictunic {
  background-position: -350px 0;
}

.archaicwarmgreaves {
  background-position: -420px 0;
}

.barbarianarmor {
  background-position: -490px 0;
}

.barbarianhelm {
  background-position: -560px 0;
}

.barbarianlegwraps {
  background-position: -630px 0;
}

.bokoblinmask {
  background-position: -700px 0;
}

.capofthewind {
  background-position: -770px 0;
}

.capoftime {
  background-position: -840px 0;
}

.capoftwilight {
  background-position: -910px 0;
}

.capofthehero {
  background-position: -980px 0;
}

.capofthesky {
  background-position: -1050px 0;
}

.cecehat {
  background-position: -1120px 0;
}

.championsleathers {
  background-position: -1190px 0;
}

.tunicofmemories {
  background-position: -1260px 0;
}

.chargedshirt {
  background-position: -1330px 0;
}

.chargedtrousers {
  background-position: -1400px 0;
}

.chargedheaddress {
  background-position: -1470px 0;
}

.climbersbandana {
  background-position: -1540px 0;
}

.climbingboots {
  background-position: -1610px 0;
}

.climbinggear {
  background-position: -1680px 0;
}

.darkhood {
  background-position: -1750px 0;
}

.darktrousers {
  background-position: -1820px 0;
}

.darktunic {
  background-position: -1890px 0;
}

.desertvoeheadband {
  background-position: -1960px 0;
}

.desertvoespaulder {
  background-position: 0 0;
}

.desertvoetrousers {
  background-position: -2030px 0;
}

.diamondcirclet {
  background-position: -2100px 0;
}

.emberheaddress {
  background-position: -2170px 0;
}

.embershirt {
  background-position: -2240px 0;
}

.embertrousers {
  background-position: -2310px 0;
}

.fiercedeityarmor {
  background-position: -2520px 0;
}

.fiercedeityboots {
  background-position: -2380px 0;
}

.fiercedeitymask {
  background-position: -2450px 0;
}

.flamebreakerarmor {
  background-position: -70px 0;
}

.flamebreakerboots {
  background-position: -2590px 0;
}

.flamebreakerhelm {
  background-position: -2660px 0;
}

.froggyhood {
  background-position: -2730px 0;
}

.froggyleggings {
  background-position: -2800px 0;
}

.froggysleeve {
  background-position: -2870px 0;
}

.frostbiteheaddress {
  background-position: -2940px 0;
}

.frostbiteshirt {
  background-position: -3010px 0;
}

.frostbitetrousers {
  background-position: -3150px 0;
}

.gaitersofthedepths {
  background-position: -3080px 0;
}

.glidemask {
  background-position: -3220px 0;
}

.glideshirt {
  background-position: -3290px 0;
}

.glidetights {
  background-position: -3360px 0;
}

.hoodofthedepths {
  background-position: -3430px 0;
}

.horriblinmask {
  background-position: -3500px 0;
}

.hylianhood {
  background-position: -3570px 0;
}

.hyliantrousers {
  background-position: -3640px 0;
}

.hyliantunic {
  background-position: -3710px 0;
}

.islandlobstershirt {
  background-position: -3780px 0;
}

.korokmask {
  background-position: -3850px 0;
}

.lightninghelm {
  background-position: -3920px 0;
}

.lizalfosmask {
  background-position: -3990px 0;
}

.lynelmask {
  background-position: -4060px 0;
}

.majorasmask {
  background-position: -4130px 0;
}

.maskofawakening {
  background-position: -4200px 0;
}

.midnashelmet {
  background-position: -4270px 0;
}

.minersmask {
  background-position: -4340px 0;
}

.minerstop {
  background-position: -4410px 0;
}

.minerstrousers {
  background-position: -4480px 0;
}

.moblinmask {
  background-position: -4550px 0;
}

.mysticheadpiece {
  background-position: -4620px 0;
}

.mysticrobe {
  background-position: -4690px 0;
}

.mystictrousers {
  background-position: -4760px 0;
}

.opalearrings {
  background-position: -4830px 0;
}

.phantomarmor {
  background-position: -4900px 0;
}

.phantomgreaves {
  background-position: -4970px 0;
}

.phantomhelmet {
  background-position: -5040px 0;
}

.radiantmask {
  background-position: -5110px 0;
}

.radiantshirt {
  background-position: -5180px 0;
}

.radianttights {
  background-position: -5250px 0;
}

.ravioshood {
  background-position: -5320px 0;
}

.royalguardboots {
  background-position: -5390px 0;
}

.royalguardcap {
  background-position: -5460px 0;
}

.royalguarduniform {
  background-position: -5530px 0;
}

.rubberarmor {
  background-position: -5600px 0;
}

.rubberhelm {
  background-position: -5670px 0;
}

.rubbertights {
  background-position: -5740px 0;
}

.rubycirclet {
  background-position: -5810px 0;
}

.sandboots {
  background-position: -5880px 0;
}

.sapphirecirclet {
  background-position: -5950px 0;
}

.sheiksmask {
  background-position: -6020px 0;
}

.snowboots {
  background-position: -6090px 0;
}

.snowquillheaddress {
  background-position: -6160px 0;
}

.snowquilltrousers {
  background-position: -6230px 0;
}

.snowquilltunic {
  background-position: -6300px 0;
}

.soldiersarmor {
  background-position: -6370px 0;
}

.soldiersgreaves {
  background-position: -6440px 0;
}

.soldiershelm {
  background-position: -6510px 0;
}

.stealthchestguard {
  background-position: -6720px 0;
}

.stealthmask {
  background-position: -6580px 0;
}

.stealthtights {
  background-position: -6650px 0;
}

.tingleshood {
  background-position: -6790px 0;
}

.tinglesshirt {
  background-position: -6860px 0;
}

.tinglestights {
  background-position: -6930px 0;
}

.topazearrings {
  background-position: -7000px 0;
}

.trousersofawakening {
  background-position: -7070px 0;
}

.trousersofthehero {
  background-position: -7140px 0;
}

.trousersofthesky {
  background-position: -7210px 0;
}

.trousersofthewild {
  background-position: -7280px 0;
}

.trousersofthewind {
  background-position: -7350px 0;
}

.trousersoftime {
  background-position: -7420px 0;
}

.trousersoftwilight {
  background-position: -7490px 0;
}

.tunicofawakening {
  background-position: -7560px 0;
}

.tunicofthedepths {
  background-position: -7630px 0;
}

.tunicofthehero {
  background-position: -7700px 0;
}

.tunicofthesky {
  background-position: -7770px 0;
}

.tunicofthewild {
  background-position: -7840px 0;
}

.tunicofthewind {
  background-position: -7910px 0;
}

.tunicoftime {
  background-position: -7980px 0;
}

.tunicoftwilight {
  background-position: -8050px 0;
}

.vahmedohdivinehelm {
  background-position: -8120px 0;
}

.vahnaborisdivinehelm {
  background-position: -8190px 0;
}

.vahrudaniadivinehelm {
  background-position: -8260px 0;
}

.vahrutadivinehelm {
  background-position: -8330px 0;
}

.well-wornhairband {
  background-position: -8400px 0;
}

.yigaarmor {
  background-position: -8470px 0;
}

.yigamask {
  background-position: -8540px 0;
}

.yigatights {
  background-position: -8610px 0;
}

.zantshelmet {
  background-position: -8680px 0;
}

.zonaitehelm {
  background-position: -8750px 0;
}

.zonaiteshinguards {
  background-position: -8820px 0;
}

.zonaitewaistguard {
  background-position: -8890px 0;
}

.zoraarmor {
  background-position: -8960px 0;
}

.zoragreaves {
  background-position: -9030px 0;
}

.zorahelm {
  background-position: -9100px 0;
}

/* GITHUB CORNER */
.github-corner svg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 80px;
  border: 0px;
  fill: var(--github-corner-bg);
  z-index: 2;
}

.github-corner .octo-body {
  fill: var(--golden);
}

.github-corner .octo-arm {
  fill: var(--golden);
  transform-origin: 130px 106px;
}

.github-corner .octo-arm,
.github-corner .octo-body {
  mix-blend-mode: hard-light;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0deg);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
}

@media (max-width: 320px) {
  .github-corner svg {
    display: none;
  }

  .github-corner p {
    display: block;
  }
}

/* MEDIA QUERIES */
@media (max-width: 590px) {
  #app {
    flex-direction: column;
  }
}